.App {
  text-align: center;
}

.rectangle {
  height: 7px;
  width: 60px;
  background-color: brown;
  margin: 50px auto;
}

.main-picture {
  height: 200px;
  width: 50%;
  /* margin-left: 25%; */
  margin: auto;
  border-radius: 10px;
  opacity: 80%;
}

.navigation-pictures {
  display: flex;
  justify-self: space-evenly;
  margin-top: 50px;
}

.navigation-pictures img {
  height: 150px;
  width: 250px;
  cursor: pointer;
  
}

.navigation-pictures img:hover {
  scale: 1.1;
  transition: 0.2s;
  box-shadow: 0 8px 100px 0px;
  transform: scale(1.0); 
  cursor: pointer;
}
.main-link {
  color: rgb(66, 18, 18);
  background-color: white;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  padding: 20px 0px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'roboto';

  /* Justify-content: space-between; */
  /* Justify-content: space-around; */

  /* Padding  lükatakse selle elemendi sisemust sissepoole. Kui on 1 väärtus, siis igas suunas, kui on kaks väärtust, siis esimene väärtus on üles-alla ja teine väärtus vasakule-paremale, kui on neli väärtust, siis on üles-paremale-alla-vasakule (nagu kell). */
}

.facebook-button img {
  height: 30px;
  padding: 5px 10px;
}

.facebook-button span {
  position: relative;
  top: -15px;
  height: 30px;
  color: darkblue;
  text-decoration: none;

}

a {
  text-decoration: none;
}

.facebook-button:hover {
  color: #7ba9c3;
  cursor: pointer;

}

.youtube {
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 15%;
}

.aktiivne {
  text-decoration: underline;
  font-weight: bold;
  color: black;
  background-color: rgb(213, 205, 221); 
}

.mitte-aktiivne {
  text-decoration: none;
  font-weight: lighter;
  color: black;
  background-color: rgb(118, 115, 121);
}
