.App {
  text-align: center;
}

body {
  background-color: lightblue;
}


.button {
  background-color: green;
  color: (grey);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  height: 50px;
  
}

.button:active {
  cursor: grab;
}

.textBlue {
  color: blue;
  font-style: italic; 
  
}

.textBlue:hover {
  cursor: pointer;
  font-size: 24px;
}

.textGreen {
  color: green;
  font-weight: bold;
  border: solid;
  border-radius: 5px;
  border-color: red;

}

.textGreen:hover {
  border-color: brown;
}

.picture {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  float: right;
}

.picture:hover {
  cursor: pointer;
  opacity: 70%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 25.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
/* .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */