.App {
  text-align: center;
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.btn {
  color: black;
  background-color: lightblue;
  font-weight: bold;
}

.edit-button {
  font-weight:bolder;
  background-color: lightseagreen;
}

.delete-button {
  font-weight:bold;
  background-color: lightcoral;
}

table {
  margin-left: auto;
  margin-right: 5%;
}

.maintain-table {
  margin-left: 5%;
  margin-right: 5%;
}

.cart {
  margin-right: auto;
}

td, th {
  border: 1px solid black;
  /* border-width: 1px;
  border-style: solid;
  border-color: black; */
}

.maintain th {
  background-color: lightseagreen;
}

.navbar {
  margin-left: 10%;
  margin-right: 30%;
}

