.App {
  text-align: center;
}

.App-dark {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.btn {
  color: black;
  background-color: lightblue;
  font-weight: bold;
}

.edit-button {
  font-weight:bolder;
  background-color: lightseagreen;
}

.delete-button {
  font-weight:bold;
  background-color: lightcoral;
}

table {
  margin-left: auto;
  margin-right: 5%;
}

.maintain-table {
  margin-left: 5%;
  margin-right: 5%;
}

.cart {
  margin-right: auto;
}

td, th {
  border: 1px solid black;
  /* border-width: 1px;
  border-style: solid;
  border-color: black; */
}

.maintain th {
  background-color: lightseagreen;
}

/* .navbar {
  margin-left: 10%;
  margin-right: 30%;
} */

.map {
  height: 400px;
  margin: 3%;
  border-radius: 15px;
}

.lang {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 5px;
}


.lang:active {
  padding: 1px;
}

.App-dark .table {
  --bs-table-bg: black;
  --bs-table-color: white; 
  --bs-table-hover-color: white; 
  --bs-table-hover-bg: darkgreen; 
}

.App-dark .bg-body-tertiary {
background-color: black !important; 
--bs-navbar-color: white;
}

.App-dark .navbar-toggler {
  color: white;
  border-color: white;

}
