.App {
  text-align: center;
}

.App-dark {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.btn {
  color: black;
  background-color: lightblue;
  font-weight: bold;
}

.edit-button {
  height: 30px;
  width: 100px;
  font-weight:bolder;
  background-color: lightseagreen;
}

.delete-button {
  font-weight:bold;
  background-color: lightcoral;
  height: 30px;
  width: 100px;
}

table {
  margin-left: auto;
  margin-right: 5%;
}

.maintain-table {
  margin-left: 5%;
  margin-right: 5%;
}

.cart {
  margin-right: auto;
}

td, th {
  border: 1px solid black;
  /* border-width: 1px;
  border-style: solid;
  border-color: black; */
}

.maintain th {
  background-color: lightseagreen;
}

/* .navbar {
  margin-left: 10%;
  margin-right: 30%;
} */

.map {
  height: 400px;
  margin: 3%;
  border-radius: 15px;
}

.lang {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 5px;
}


.lang:active {
  padding: 1px;
}

.App-dark .table {
  --bs-table-bg: black;
  --bs-table-color: white; 
  --bs-table-hover-color: white; 
  --bs-table-hover-bg: darkgreen; 
}

.App-dark .bg-body-tertiary {
background-color: black !important; 
--bs-navbar-color: white;
}

.App-dark .navbar-toggler {
  color: white;
  border-color: white;
}

.products{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  margin: 3%;
}

.product{
  border: 1px solid lightgray;
  padding: 10px;
}

.product img {
  height: 100px;
  width: 100px;
  transition: 1s;
}

.product:hover img {
  transform: scale(115%);
  transition: 1s;
}

.title {
  height: 90px;
  font-weight: bold;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.product-image {
   width: 50px;
   height: 50px;
}
.product-title {
  width: 150px;
}
.product-price {
  width: 80px;
}