.App {
  text-align: center;
}

.mainPicture {
  width: 400px;
  height: 900px;
  opacity: 70%;
  border-radius: 10px;
  float: right;
}


.nupp {
  color:aquamarine;
  background-color: purple;
}

.nupp:hover {
  background-color: black;
}

.meieTootajad {
  font-weight: bold;
}
